<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BAEntities" connectionString="metadata=res://*/BAModelCh13.csdl|res://*/BAModelCh13.ssdl|res://*/BAModelCh13.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=julie-pc;Initial Catalog=BreakAway;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>