<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
  <connectionStrings>
    <add name="BAEntities" connectionString="metadata=res://*/BAModel.csdl|res://*/BAModel.ssdl|res://*/BAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=BreakAway;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BANoFKEntities" connectionString="metadata=res://*/BAModel.csdl|res://*/BAModel.ssdl|res://*/BAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=BreakAway;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>


</configuration>
