USE [master]
GO

/****** Object:  Database [PROGRAMMINGEFDB1]    Script Date: 12/07/2010 15:07:51 ******/
CREATE DATABASE [PROGRAMMINGEFDB1] ON  PRIMARY 
( NAME = N'PROGRAMMINGEFDB1_Data', FILENAME = N'c:\program files\microsoft sql server\mssql10.mssqlserver\mssql\data\PROGRAMMINGEFDB1_Data.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PROGRAMMINGEFDB1_Log', FILENAME = N'c:\program files\microsoft sql server\mssql10.mssqlserver\mssql\data\PROGRAMMINGEFDB1_Log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROGRAMMINGEFDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE PROGRAMMINGEFDB1

SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
PRINT N'Creating [dbo].[Contact]'
GO
CREATE TABLE [dbo].[Contact]
(
[ContactID] [int] NOT NULL IDENTITY(1, 1),
[FirstName] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
[LastName] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
[Title] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[AddDate] [datetime] NOT NULL,
[ModifiedDate] [datetime] NOT NULL
)

GO
PRINT N'Creating primary key [PK_Person] on [dbo].[Contact]'
GO
ALTER TABLE [dbo].[Contact] ADD CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED ([ContactID])
GO
PRINT N'Creating [dbo].[InsertContact]'
GO
CREATE PROCEDURE [dbo].[InsertContact]
@FirstName NVARCHAR(50),
@LastName NVARCHAR(50),
@Title NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

INSERT INTO [Contact]
           ([FirstName]
           ,[LastName]
           ,[Title]
           ,[AddDate]
           ,[ModifiedDate])
     VALUES
           (@FirstName,@LastName,@Title,GETDATE(),GETDATE());
           SELECT SCOPE_IDENTITY() AS NewContactID WHERE @@ROWCOUNT > 0;
           
END

GO
PRINT N'Creating [dbo].[DeleteContact]'
GO
Create PROCEDURE [dbo].[DeleteContact]
@contactid INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DELETE FROM [Contact] WHERE [ContactID]=@contactid 
END

GO
PRINT N'Creating [dbo].[Address]'
GO
CREATE TABLE [dbo].[Address]
(
[addressID] [int] NOT NULL IDENTITY(1, 1),
[Street1] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[Street2] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[City] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[StateProvince] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[CountryRegion] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[PostalCode] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[AddressType] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
[ContactID] [int] NOT NULL,
[ModifiedDate] [datetime] NOT NULL
)

GO
PRINT N'Creating primary key [PK_Addresses] on [dbo].[Address]'
GO
ALTER TABLE [dbo].[Address] ADD CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED ([addressID])
GO
PRINT N'Creating [dbo].[AddressCountForContact]'
GO
CREATE PROCEDURE dbo.AddressCountForContact

	@contactID int
AS
	SELECT MAX(RTRIM(LastName) + ', ' + FirstName) as Name,COUNT(addressID) AS AddressCount
	FROM  Contact,Address
	WHERE Contact.ContactID=Address.ContactID 
	AND Contact.ContactID=@contactID
	GROUP BY Contact.ContactID
	RETURN

GO
PRINT N'Creating [dbo].[AddressTypeCount]'
GO
CREATE PROCEDURE AddressTypeCount

	@AddressType nvarchar(10)

	
	
AS
	SELECT COUNT(addressID) FROM Address WHERE AddressType= @AddressType
	RETURN

GO
PRINT N'Creating [dbo].[ContactsbyState]'
GO
CREATE PROCEDURE [dbo].[ContactsbyState]

	@statecode nvarchar(50)

AS
SELECT DISTINCT Contact.* from [Contact],[Address] 
WHERE	 [Contact].[ContactID]=[Address].[ContactID] AND [Address].[StateProvince]=@statecode

GO
PRINT N'Creating [dbo].[vOfficeAddresses]'
GO
CREATE VIEW [dbo].[vOfficeAddresses]
AS
SELECT        dbo.Contact.FirstName, dbo.Contact.LastName, dbo.Address.addressID, dbo.Address.Street1, dbo.Address.Street2, dbo.Address.City, 
                         dbo.Address.StateProvince, dbo.Address.CountryRegion, dbo.Address.PostalCode, dbo.Address.AddressType, dbo.Address.ContactID, 
                         dbo.Address.ModifiedDate
FROM            dbo.Address INNER JOIN
                         dbo.Contact ON dbo.Address.ContactID = dbo.Contact.ContactID
WHERE        (dbo.Address.AddressType = N'Office')

GO
PRINT N'Creating [dbo].[UpdateContact]'
GO
CREATE PROCEDURE [dbo].[UpdateContact]
@ContactID INT,
@FirstName NVARCHAR(50),
@LastName NVARCHAR(50),
@Title NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

UPDATE Contact SET [FirstName]=@FirstName,[LastName]=@LastName,[Title]=@Title,[ModifiedDate]=GETDATE()
WHERE [ContactID]=@ContactID 
END

GO
PRINT N'Adding foreign keys to [dbo].[Address]'
GO
ALTER TABLE [dbo].[Address] ADD
CONSTRAINT [FK_Address_Contact] FOREIGN KEY ([ContactID]) REFERENCES [dbo].[Contact] ([ContactID]) ON DELETE CASCADE
GO
PRINT N'Creating extended properties'
GO
EXEC sp_addextendedproperty N'MS_DiagramPane1', N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Address"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 133
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Contact"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 133
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
', 'SCHEMA', N'dbo', 'VIEW', N'vOfficeAddresses', NULL, NULL
GO
EXEC sp_addextendedproperty N'MS_DiagramPaneCount', 1, 'SCHEMA', N'dbo', 'VIEW', N'vOfficeAddresses', NULL, NULL
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
-- Pointer used for text / image updates. This might not be needed, but is declared here just in case
DECLARE @pv binary(16)

-- Drop constraints from [dbo].[Address]
ALTER TABLE [dbo].[Address] DROP CONSTRAINT [FK_Address_Contact]

-- Add 440 rows to [dbo].[Contact]
SET IDENTITY_INSERT [dbo].[Contact] ON
INSERT INTO [dbo].[Contact] ([ContactID], [FirstName], [LastName], [Title], [AddDate], [ModifiedDate]) VALUES (1, N'Julia', N'Seville', N'Mrs.                                              ', '2008-02-19 16:04:10.317', '2009-12-22 10:53:56.990')
INSERT INTO [dbo].[Contact] ([ContactID], [FirstName], [LastName], [Title], [AddDate], [ModifiedDate]) VALUES (2, N'Keith                                             ', N'Harris                                            ', N'Mr.                                               ', '2009-02-19 16:04:10.000', '2008-02-19 16:04:10.317')
INSERT INTO [dbo].[Contact] ([ContactID], [FirstName], [LastName], [Title], [AddDate], [ModifiedDate]) VALUES (3, N'Donna                                             ', N'Carreras-Jones-Jones', N'Ms.                                               ', '2008-02-19 16:04:10.317', '2009-09-02 11:59:00.907')
SET IDENTITY_INSERT [dbo].[Contact] OFF

-- Add 451 rows to [dbo].[Address]
SET IDENTITY_INSERT [dbo].[Address] ON
INSERT INTO [dbo].[Address] ([addressID], [Street1], [Street2], [City], [StateProvince], [CountryRegion], [PostalCode], [AddressType], [ContactID], [ModifiedDate]) VALUES (2260, N'Edited Edited 8713 Yosemite Ct.                   ', N'Apartment 42', N'Bothell                                           ', N'Washington                                        ', N'US                                                ', N'98011               ', N'Home      ', 3, '2008-02-19 16:08:31.447')
INSERT INTO [dbo].[Address] ([addressID], [Street1], [Street2], [City], [StateProvince], [CountryRegion], [PostalCode], [AddressType], [ContactID], [ModifiedDate]) VALUES (2261, N'1318 Lasalle Street                               ', NULL, N'Bothell                                           ', N'Washington                                        ', N'US                                                ', N'98011               ', N'Home      ', 19, '2008-02-19 16:08:31.447')
INSERT INTO [dbo].[Address] ([addressID], [Street1], [Street2], [City], [StateProvince], [CountryRegion], [PostalCode], [AddressType], [ContactID], [ModifiedDate]) VALUES (2262, N'9178 Jumping St.                                  ', N'Apartment 42                                      ', N'Dallas                                            ', N'Texas                                             ', N'US                                                ', N'75201               ', N'Home      ', 130, '2008-02-19 16:08:31.447')
SET IDENTITY_INSERT [dbo].[Address] OFF

-- Add constraints to [dbo].[Address]
ALTER TABLE [dbo].[Address] ADD CONSTRAINT [FK_Address_Contact] FOREIGN KEY ([ContactID]) REFERENCES [dbo].[Contact] ([ContactID]) ON DELETE CASCADE
